/* navBar */
.container1 {
    overflow: hidden;
    background-color: #C8890F;
}
.container1 a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.container1 a:hover {
    background-color: #ddd;
    color: red;
}
.p1{
    font-size: 40px;
    font-weight: bolder;
}
/* All */
body{
    background-color: #D6D0B4;
}
footer{
    background-color: #C8890F;
    font-weight: bold;
   margin-top: 610px;
}
.hm{
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

 /* Home */

#h1{  font-size: 40px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-align: center;
}
                     /* About */
#b1{
    background-image: url("https://khanyapupuma.github.io/all-images/all-images/Images/1piece.jpg");
}
#hm{
    font-size: 50px;
    color: rgb(92, 223, 207);
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
#par1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
                    /* Store */

                    /* Checkout */

                    /* Admin */

                    /* Contact */
